$ColorSelectSite: #F16D7F;
$WitdhSite: 1140px;
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Lato', sans-serif;
  }
  
  img {
    max-width: 100%;
  }

  a {
    text-decoration: none;
  }

  .center {
    padding-left: calc(50% - $WitdhSite \ 2);
    padding-right: calc(50% - $WitdhSite \ 2);
  }
  
  .HEADLINE {
    position: relative;
    overflow: hidden;
  }
  
  .header {
    min-height: 75px;
    background: #222222;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__left {
    display: flex;
    align-items: center;
    gap: 41px;
  }
  
  .header__right {
    display: flex;
    align-items: center;
    gap: 33px;
  }
.header__link-site-conteiner{
  position: relative;
}
.header_img::after{
  content: url(./img/header_im.png);
  position: absolute;
  display: block;
  top: 0px;
  width: 50px;
  padding: 12px 0px 0px 22px; 
}

.Header_five{
  content: url(./img/FiveBasket.png);
  position: absolute;
  display: block;
  top: 0px;
  width: 7px;
  padding: 15px 0px 0px 26px;
}

.top_head{
  background: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top_head_heading{
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: $ColorSelectSite;
}

.breadCrumbs_link {
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadCrumbs_lik_site{
  font-weight: 700;
  color: #f16d7f;
}
  .menu {
    position: absolute;
    top: 75px;
    right: -232px;
    z-index: 1;
    width: 232px;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 32px;
    box-sizing: border-box;
  }
  
  .menu__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
  
  .presentation {
    display: flex;
    background: #F1E4E6;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
  }
  
  .promo__img {
    width: 30%;
    display: block;
    margin: auto;

  }
  
  .pro__info {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-top: 48%;
  }
  
  .pro__title {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
  }
  
  .pro__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
  }
  
  .pro__content {
    padding-left: 64px;
  }
  
  .layout{
    margin-top: -48px;
  }
 
  
  .product-box {
    padding-bottom: 96px;
  }
  
  .product-box__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #222222;
  }
  
  .product__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 6px;
    color: #9F9F9F;
  }
  
  .product-box__content {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: center;
    gap: 30px;
  }
  
  .product {
    position: relative;
  }
  
  .product:hover .product__img {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
  }
  
  .product .product__add {
    display: flex;
  }
  
  .product__img {
    width: 100%;
  }
  
  .product__add {
    position: absolute;
    top: 188px;
    left: 111px;
    border: 1px solid #fff;
    width: 139px;
    height: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 11px;
    color: #FFFFFF;
  }
  
  .product__add {
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0 0 5px #fff;
  }
  
  .product__add svg path {
    fill: $ColorSelectSite;
  }
  
  .product__content {
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 16px;
    gap: 16px;
  }
  
  .product__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
  }
  
  .product__text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
  }
  
  .product__price {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
  }
  
.butbot{
  width: 212px;
  height: 48px;
  flex-shrink: 0;
  color: $ColorSelectSite;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  background-color: #fff;
  border: 1px solid;
}

.bust{
  display: flex;
  justify-content: center;
}

.advantages {
  background-color: #222222;
  padding-top: 104px;
  padding-bottom: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 30px;
}

.advantages__item {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
}

.advantages__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
}

.advantages__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.cent {
  position: relative;
  background-image: url(./img/bottom1.jpg);
  padding: 118px;
}
.fotoOne {
  margin-top: 0px;
  align-items: center;
  justify-content: center;
}
.fotoTwo {
  align-items: center;
  justify-content: center;
  padding-left: 900px;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.FOTTERLINE {
  position: relative;
  overflow: hidden;
}

.fotter {
  min-height: 75px;
  background: #222222;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.fotter__left {
  display: flex;
  align-items: center;
}

.fotter__right {
  display: flex;
  align-items: center; 
  gap: 12px;
}
 
@media (min-width: 768px) and (max-width: 1600px) {
    
    .header__left {
        margin-left: 32px;
    }

    .header__right {
        margin-right: 32px;
    }

    .top-head__box {
        padding: 0 30px;
    }

    .filter-sort {
        height: 81px;
        padding-top: 24px;
        justify-content: space-around;
    }

    .product_del {
        display: none;
    }

    .product-box__content {
        gap: 16px;
    }

    .main-product__bottom_catalog {
        margin-bottom: 0;
    }

    .main-product__info {
        padding: 65px 62px;
    }

    .product-selection {
        flex-direction: column;
        align-items: center;
    }

    .product-selection__card {
        width: 734px;
    }

    .product-selection__header {
        gap: 200px;
    }

    .product-selection__buttons {
        justify-content: space-evenly;
    }

    .product-selection__info {
        flex-direction: row;
        gap: 15px;
    }

    .product-selection__info__address {
        margin-top: 60px;
    }

    .product-selection__purchase {
        margin-top: 119px;
    }

    .registration {
        gap: 22px;
    }

    .registration__data {
        margin-left: 16.5px;
    }

    .registration__info {
        font-size: 16px;
        padding-right: 16px;
        gap: 32px;
    }

    .sale {
        margin-left: 16px;
        margin-right: 16px;
        gap: 18px;
    }

    .footer__text {
        margin-left: 30px;
    }

    .footer__items {
        margin-right: 30px;
    }

    .advantages {
        justify-content: space-evenly;
        margin-top: 63px;
    }

    .subscription {
        padding-top: 53px;
        padding-bottom: 70px;
        justify-content: space-evenly;
    }
}

@media (min-width: 1025px) and (max-width: 1600px) {

    .product-box__content {
        grid-template-columns: repeat(auto-fit, 320px);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .sale__item__big {
        min-height: auto;
    }

    .promo__title {
        font-size: 38px;
    }

    .promo__heading {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    
    .promo__content {
        padding-left: 40px;
    }
    
    .promo__title {
        font-size: 38px;
    }

    .promo__heading {
        font-size: 22px;
    }
    .sale {
        margin-left: 16px;
        margin-right: 16px;
        gap: 18px;
    }
 
    .sale__item__big {
        min-height: auto;
    }

    .sale__text {
        font-size: 13px;
    }

    .sale__heading {
        font-size: 16px;
    }
    .product-box__content {
        gap: 16px;
    }

    .advantages {
        flex-direction: column;
        padding-top: 48px;
        padding-bottom: 64px;
    }

    .subscription {
        gap: 48px;
        flex-direction: column;
        padding-top: 53px;
        padding-bottom: 70px;
    }

    .footer__text {
        margin-left: 30px;
    }

    .footer__items {
        margin-right: 30px;
    }

    .header__left {
        margin-left: 32px;
    }

    .header__right {
        margin-right: 32px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {

    .header__link-site {
        display: none;
    }

    .header__left {
        padding-left: 16px;
        margin: 0;
    }

    .header__right {
        padding-right: 16px;
        margin: 0;
    }

    .top-head__box {
        justify-content: space-evenly;
        flex-direction: column;
    }

    .filter-sort {
        justify-content: center;
    }

    .filter__heading {
        display: none;
    }

    .filter__summary svg {
        width: 37px;
        height: 25px;
    }

    .filter__content {
        margin-top: 14px;
        position: absolute;
        width: 200px;
        margin-left: 10px;
    }

    .filter[open] {
        box-shadow: none;
    }

    .sort {
        padding-top: 8px;
        margin: 0 10px;
        gap: 20px;
    }

    .sort__heading {
        white-space: nowrap;
        font-size: 10px;
    }

    .promo__img {
        display: none;
    }

    .promo {
        justify-content: center;
        padding: 148px 0;
    }
    
    .promo__title {
        font-size: 30px;
        line-height: 24px;
    }

    .promo__heading {
        font-size: 18px;
        line-height: 24px;
    }

    .sale {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        padding: 64px 20px 96px;
    }

    .sale__item__big {
        height: 111px;
        background-size: cover;
        background-position: center;
        background-image: url(../images/advertisement004.jpg);
    }

    .img__big {
        display: none;
    }


    .product-box__content {
        gap: 16px;
    }

    .product-box__text {
        font-size: 12px;
    }


    .main-product__img {
        height: 600px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .product__picturebox {
        height: auto;
    }

    .main-product__info {
        padding: 65px 0;
    }

    .main-product__info__features {
        width: auto;
        gap: 10px;
        padding-top: 49px;
    }

    .main-product__info__text {
        padding: 0 20px;
    }

    .main-product__info__price {
        margin-bottom: 31px;
    }

    .main-product__info__features button {
        font-size: 10px;
    }

    .product-selection {
        flex-direction: column;
        margin: 0 10px;
    }

    .product-selection__card {
        align-items: center;
        width: auto;
        gap: 32px;
    }

    .product-selection__card-first img,
    .product-selection__card-second img {
        min-width: 143px;
        min-height: 188px;
    }

    .product-selection__card-first, 
    .product-selection__card-second {
        max-width: 420px;
        justify-content: space-between;
        padding-right: 10px;
        margin-bottom: 0;
    }

    .product-selection__header {
        gap: 18px;
        margin-bottom: 26px;
    }

    .product-selection__title {
        font-size: 16px;
    }

    .product-selection__card-info {
        padding: 13px 0 13px 17px;
        font-size: 14px;
        line-height: 20px;
    }

    .product-selection__title__button {
        padding-top: 3px;
    }

    .product-selection__title__button svg {
        width: 10px;
        height: 11px;
    }

    .product-selection__input input {
        width: 26px;
        height: 18px;
    }

    .product-selection__info {
        align-items: center;
    }

    .product-selection__buttons {
        justify-content: space-around;
        gap: 10px;
    }

    .product-selection__button {
        padding: 9px 18px;
        text-transform: lowercase;
        font-size: 12px;
    }

    .product-selection__info__address {
        align-items: center;
    }

    .product-selection__purchase {
        width: 240px;
    }

    .product-selection__info__address-input {
        width: 300px;
    }

    .product-selection__purchase__line {
        width: 240px;
    }

    .product-selection__purchase__button {
        margin-bottom: 0;
        width: 220px;
        font-size: 14px;
    }

    .registration {
        flex-direction: column;
        align-items: center;
    }

    .registration__data {
        margin: 0 10px;
    }

    .registration__input {
        width: auto;
    }

    .registration__info {
        font-size: 16px;
        margin: 0 20px;
    }

 

    .subscription__staff__figure-text {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
        line-height: normal;
    }

    .subscription__input-email__text {
        font-size: 14px;
        line-height: 153.2%;
    }

    .subscription__input-email__title {
        font-size: 19px;
    }

    .subscription__input-email__submit__subscribe {
        width: 170px;
    }

    .subscription__input-email__submit__btn {
        width: 90px;
    }

    .footer {
        min-height: 143px;
        padding-bottom: 10px;
        gap: 40px;
        flex-direction: column-reverse;
        justify-content: flex-start;
    }

    .footer__text {
        justify-content: center;
        margin: 0;
    }

    .footer__items {
        margin: 0;
    }
}

@media (min-width: 320px) and (max-width: 425px) {

    .product {
        margin-left: 16px;
        margin-right: 16px;
    }
}
